.wrapper {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 30fr 60fr;
  grid-template-rows: 50fr 40fr;
  height: 900px;
}

.generate {
  display: flex;
  flex-flow: column;
  margin: 30px;
  padding: 20px;
  border-radius: 20px;
  border: 3px dotted #003577;

  .header {
    margin-bottom: 20px;
  }

  .button {
    margin: 10px 5px;
  }

  .buttonTactic {
    width: 30%;
    margin: 10px 5px;
    height: 30px;
  }

  .buttonSkill {
    width: 10px;
    height: 10px;
    margin: 10px 5px;
  }
}
